.section {
  text-align: left;
  padding: 5% 15% 5% 0;
}

.sectionMobile {
  text-align: left;
}

.section h2,
.sectionMobile h2 {
  color: var(--color-primary);
  font-weight: bold;
  font-size: 25px;
  line-height: 29px;
  padding-bottom: 1em;
}

.sectionMobile h2 {
  padding: 0.5em 0;
}

.section h3,
.sectionMobile h3 {
  color: black;
  font-weight: bold;
  font-size: 1em;
  padding: 2em 0 1em 0;
}

.main { /* parent has 15px l-r margins; width, margin-left to force 100vw width*/
  padding: 5% 10%;
  background-repeat: no-repeat;
  margin-left: -15px;
  width: calc(100% + 30px);
}

.blurb {
  color: var(--color-primary);
  font-size: 20px;
  padding: 2vh;
}

@media (min-width:320px) {
  .main {
    background-size: 0;
  }
}

@media (min-width:961px)  {
  .main {
    background-repeat: 'no-repeat';
    background-size: auto 100%;
    background-position: left 85vw top 50%;
  }
}